@charset "utf-8"
@import url(estilo.css);

body{
	background: url(../imagenes/textura.png);
	color:#0F0F0D;
	font-family: Helvetica, Arial, Tahoma;
	font-size: 12pt;
	}
	
.contenedor{
min-height:1600px;
max-height: 1820px;
background: #fff;
margin-left: auto;
padding-top: 0px;
margin-right: auto;
width: 965px;
border-radius: 0px;
margin-top: 5px;
position: relative;
}


*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

header{
	width: 100%;
	height: 70px;
	background-color: black;
	margin-top: 0px;
}

.divheader{
	width: 28%;
	height:100%;
	float: left;
}

.divheader2{
	width: 44%;
	height:100%;
	float: left;
}

.botonmenu{
	width: 20%;
	height: 100%;
	float: left;
}


div#uno{
	background: url(../imagenes/inicio.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
}

div#dos{
	background: url(../imagenes/lugar.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
}

div#tres{
	background: url(../imagenes/historia.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
}

div#cuatro{
	background: url(../imagenes/galeria.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
}

div#cinco{
	background: url(../imagenes/contactos.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
}

#uno:hover{
	background: url(../imagenes/inicio.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #AE2485;
}

#dos:hover{
	background: url(../imagenes/lugar.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #AE2485;
}

#tres:hover{
	background: url(../imagenes/historia.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #AE2485;
}

#cuatro:hover{
	background: url(../imagenes/galeria.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #AE2485;
}

#cinco:hover{
	background: url(../imagenes/contactos.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #AE2485;
}

.cursor{ cursor: pointer;}

.redjhone{
	margin-top: 10px;
	width: 100%;
	height: 500px;
	background: url(../imagenes/iglesio.jpg);
	background-position: center;

}

.redjhonehijo{
	width: 90%;
	height: 100%;
	background: url(../imagenes/transpv.png);
	background-position: center;
	margin-left: 5%;
	padding-right: 0px;
	padding-left: 0px;

}
.red1{
	width: 70%;
	height: 140px;
	display: inline-block;
	margin-right: 0px;
	margin-top: 0px;
	position: relative;
}
.red2{
	width: 29%;
	height: 170px;
	display: inline-block;
	margin-left: 0px;
	margin-top: 0px;
	background: url(../imagenes/logob2.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 25px;
}

.parr{
	text-align: justify;
	font-size: 16pt;
	width: 80%;
	position: absolute;
	margin-left: 10%;
	max-height: 250px;
	padding-right: 15px;
	position: absolute;
	color: white;
}

.imagenes{
	width: 350px;
	height: 800px;
	margin-top: 25px;
	display: inline-block;
}

.imgdiv{
	width: 305px;
	height: 250px;
	background: url(../imagenes/historia1.jpg);
	margin-left: 45px;
	margin-top: 22px;
}
.imgdiv2{
	width: 305px;
	height: 250px;
	background: url(../imagenes/historia2.jpg);
	margin-left: 45px;
	margin-top: 22px;
}

.imgdiv3{
	width: 305px;
	height: 250px;
	background: url(../imagenes/historia3.jpg);
	margin-left: 45px;
	margin-top: 22px;
}

.historia{
	width: 600px;
	height: 800px;
	display: inline-block;
}


.historiap{
	width: 100%;
	height: 720px;
	position: relative;
}

.parr2{
	text-align: justify;
	font-size: 13pt;
	width: 90%;
	position: absolute;
	margin-left: 5%;
	max-height: 250px;
	padding-right: 15px;
	position: absolute;
	color: black;
	margin-top: 15px;
}