@charset "utf-8"
@import url(estilo.css);


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb
{
	background-color: #424242;
	border-radius: 4px;
}

body{
	background: url(../imagenes/textura.png);
	color:#0F0F0D;
	font-family: Helvetica, Arial, Tahoma;
	font-size: 12pt;
	}
.contenedor{
/*width: 100%;*/
min-height:1400px;
max-height: 1520px;
background: #fff;
margin-left: auto;
padding-top: 0px;
margin-right: auto;
width: 965px;
border-radius: 0px;
margin-top: 5px;
position: relative;
}


*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

header{
	width: 100%;
	height: 70px;
	background-color: black;
	margin-top: 0px;
}

.divheader{
	width: 28%;
	height:100%;
	float: left;
}

.divheader2{
	width: 44%;
	height:100%;
	float: left;
}

.botonmenu{
	width: 20%;
	height: 100%;
	float: left;
}


div#uno{
	background: url(../imagenes/inicio.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
}

div#dos{
	background: url(../imagenes/lugar.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
}

div#tres{
	background: url(../imagenes/historia.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
}

div#cuatro{
	background: url(../imagenes/galeria.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
}

div#cinco{
	background: url(../imagenes/contactos.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
}

#uno:hover{
	background: url(../imagenes/inicio.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #AE2485;
}

#dos:hover{
	background: url(../imagenes/lugar.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #AE2485;
}

#tres:hover{
	background: url(../imagenes/historia.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #AE2485;
}

#cuatro:hover{
	background: url(../imagenes/galeria.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #AE2485;
}

#cinco:hover{
	background: url(../imagenes/contactos.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #AE2485;
}

.cursor{ cursor: pointer;}

.main{
background: url(../imagenes/logob.png);
width: 100%;
height: 400px;
margin-top: 5px;
position: absolute;
z-index: 2000px;
position: relative;
}

.slides{
	width: 100%;

}

.slides img{
width: 100%;
}

.slidesjs-pagination {
	background: #424242;
	list-style: none;
	overflow: hidden;
}

.slidesjs-pagination li {
		float: left;
}

.slidesjs-pagination li a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}

.slidesjs-pagination li a:hover{
	background: #AE2485;
}

.slides .active {
	background: #AE2485;
}

.slidesjs-navigation{
	background: #AE2485;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	float: right;
}

.divmedios{
	width: 100%;
	height: 400px;
	margin-top: 50px;
	margin-left: 0px;
	position: absolute;
	position: relative;
}

.divmedio1{
	height: 100%;
	width: 49%;
	margin-left: 0px;
	background: url(../imagenes/divmedio1.jpg);
	position: absolute;
	display: inline-block;
}

.divmedio2{
	height: 100%;
	width: 49%;
	margin-left: 51%;
	background: url(../imagenes/divmedio2.jpg);
	position: absolute;
}

.transp{
	width: 90%;
	height: 360px;
	background: url(../imagenes/transp.png);
	background-position: center;
	margin-left: 5%;
	margin-top: 20px;
	position: relative;
}

.cabecera{
	width: 100%;
	height: 60px;
	margin-top: 0px;
	font-size: 24pt;
	text-align: center;
	padding-top: 10px;
}

p{
	text-align: justify;
	font-size: 18pt;
	width: 80%;
	position: absolute;
	margin-left: 10%;
	overflow-y: scroll;
	max-height: 250px;
	padding-right: 15px;
}

.logosbajos{
	width: 100%;
	height: 400px;
	margin-top: 55px;
	position: relative;
}

.logosbotones{
	width: 33%;
	height: 200px;
	background-position: center;
	background: url(../imagenes/logolrojo.png);
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	
}

.logosbotones2{
	width: 33%;
	height: 200px;
	background-position: center;
	background: url(../imagenes/logohrojo.png);
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
}

.logosbotones3{
	width: 33%;
	height: 200px;
	background-position: center;
	background: url(../imagenes/logoprojo.png);
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
}

.linea{
	width: 90%;
	height:3px;
	margin-top: 15px;
	float: left;
	position: absolute;
}